################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XAM110/Exercise1/.vs/MyTunes/v15/Server/sqlite3
